body{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border: #3f104c;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow: auto;
    border-color: #58046f;
    background-image: https://pngtree.com/freebackground/beautiful-geometric-background-with-different-geometric-articles_1242048.html;
}
aside{
    flex: 1;
    overflow: auto;
    background-color: bisque;
}
ul li a:hover {
  background-color: #58046f;
  box-sizing: border-box;
}
table{
    background-color: blanchedalmond;
}
.logo{
    size: 500;
}